.header {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFF;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.navbar-brand {
    margin-left: 100px;
}

.navbar-collapse {
    margin-right: 100px;
}

.navbar-light .navbar-nav .nav-link {
    border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}

.content-left {
    margin-top: 100px;
}

.content-left h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -0.4px;
    color: #1652AC;
}

.content-left p {
    margin-top: 100px;
    position: relative;
}

.content-left .content_text::before, .content-left .content_text::after {
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 7px;
    background-color: #EDEFF3;
}

.content-left .content_text::before {
    top: -55px
}

.content-left p::after {
    bottom: -55px;
}

.content-left_second h3 {
    color: #1652AC;
    margin-left: 50px;
}

.content_text_second {
    margin-left: 50px;
    font-size: 17px;
    line-height: 32px;
}

.content-left_info {
    background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
}

.content-left_info h3, .content_text_info {
    color: white;
    width: 500px;
    font-size: 17px;
    line-height: 32px;
    margin-left: 150px;
    margin-top: 100px;
}

.content_text_info {
    margin-top: 20px;
}

.content-right img {
    width: 100%;
}

